<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <system.web>
    <identity impersonate="true" />
  </system.web>

  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=VMI1974588\\SQL2K19;Database=DocArchiveDB;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>